@charset "UTF-8";
/* 简单css reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

body {
  background: #f0f0f0; }

#features-banner {
  background: url(../public/features/features_banner.jpg) center top no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 350px; }

.sub-title {
  width: 100%;
  margin: 0 auto;
  padding-top: 120px;
  text-align: center;
  color: #fff; }

.f-28 {
  font-size: 28px; }

.f-16 {
  font-size: 16px; }

#features-main {
  width: 100%; }

.navtag-box {
  width: 1200px;
  padding: 0 10px;
  margin: 0 auto; }

.navtag-box-tag {
  width: 100%; }

.navtag-box-tag a, .navtag-box-tag span {
  color: #888;
  font: 13px "宋体"; }

.navtag-box-tag a:hover {
  color: #f30; }

.s-mn-fbody {
  width: 100%; }

.s-mn-center {
  width: 1200px;
  margin: 0 auto; }

.s-mn-ftitle {
  margin: 20px auto;
  width: 100%; }

.s-mn-ftitle > h2 {
  text-align: center;
  background: url(../public/features/ftitlebg.png) repeat-x; }
  .s-mn-ftitle > h2 span {
    display: block;
    width: 480px;
    margin: 0 auto;
    background: #f0f0f0;
    color: #555;
    font-size: 25px;
    font-weight: 500; }

.s-mn-module {
  width: 100%;
  margin: 0 auto; }
  .s-mn-module:after {
    display: block;
    content: "";
    clear: both; }

.s_mn_module1x {
  float: left;
  width: 400px; }

.s_mn_module2x {
  float: left;
  width: 800px; }

.s_mn_place1 {
  display: block;
  position: relative;
  padding: 10px; }
  .s_mn_place1:hover {
    background: #fff;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3); }

.s_mn_module_textbox {
  position: absolute;
  width: 100%;
  overflow: hidden;
  top: 121px; }

.s_mn_module_label {
  width: 100%;
  line-height: 30px; }

.s_mn_module_name, .s_mn_module_describe, .s_mn_module_text {
  display: block;
  width: 100%;
  text-align: center; }

.s_mn_module_name {
  color: #fff;
  font-size: 25px; }

.s_mn_module_describe {
  color: #fff;
  font-size: 15px; }

.s_mn_module_text {
  width: 180px;
  margin: 0 auto;
  background: #000;
  color: #fff;
  font-size: 13px;
  height: 30px;
  line-height: 30px;
  border-radius: 18px;
  opacity: .75; }
