/* 简单reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

ul {
  list-style: none; }

a {
  text-decoration: none; }
  /* 脚部 */
  #footer{
    width:100%;
    background:#333;
    height:auto;
  }
  /* 微信微博部分 */
  .social{
    margin:0 auto;
    width: 198px;
    height: 109px;
    padding-top:20px;
  }
  /* 背景图片基础样式 */
  .icon-posi{
    display: inline-block;
    width:89px;
    height:89px;
    cursor: pointer;
  }
  /* 微信背景图片 */
  .social-wx{
    background:url(../public/footer/footer_weibo.png) no-repeat;
  }
  /* 微博背景图片 */
  .social-sina{
    background:url(../public/footer/weixin.png) no-repeat;
    margin-left:15px;
  }

  /* 第二部分 链接列表 */
  .link-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 140px;
  }
  /* 设置字体 */
  .hot-rent{
    color:#555;
    font-size:14px;
    font-weight: 500;
  }
  /* ul样式 */
  .link{
    border-bottom: 1px solid #444;
    padding:35px 0;
  }
  /* 链接列表 */
  .link-list>a{
    font-size:12px; 
    color:#555;
  }
  .link-list{
    text-align: left;
    line-height: 24px;
  }
  /* 扩展 */
  .extend{
    color:#555;
    font-size:14px;
  }
  /* 第三部分 导航 */
  .footer-nav{
    width:1200px;
    margin:0 auto;
    padding:30px 0;
  }
  .footer-nav-div1{
    text-align: center;
  }
  .footer-nav-div1>a{
    color:#888;
    font:12px "Microsoft YaHei";
  }
  .footer-nav-div1>a~a::before{
    display: inline-block;
    content:"|";
    padding:0 10px;
  }
  /* 第二行样式 */
  .footer-nav-div2{
    text-align:center;
    color:#888;
    font:12px "Microsoft YaHei";
    line-height: 24px;
  }
  .m10{
    margin:0 10px;
  }
  /* 第三行样式 */
  .footer-nav-div3{
    text-align: center;
    color:#888;
    font:12px "Microsoft YaHei";
    line-height: 24px;
  }
  .footer-nav-div3>a{
    color:#888;
    font:12px "Microsoft YaHei";
  }
  .footer-nav-div3>a:hover{
    color:#fff;
  }
  /* 第四行样式 */
  .footer-nav-div4{
    width:580px;
    margin:20px auto;
  }
  /* ul样式 */
  .footer-nav-div4-ul{
    width:100%;
  }
  .footer-nav-div4-ul>li{
    float:left;
    width:150px;
  }