@charset "UTF-8";
/* 简单css reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

body {
  background: #fff; }

/* 头部最外层div */
.d-flex {
  display: flex;
  border-top: 1px solid #c4c2c3;
  justify-content: space-between;
  padding: 0 32px;
  min-width: 1200px; }

/* 左边部分样式 */
.left {
  margin: 16px 0 0 0;
  height: 42px; }

.left > img {
  width: 230px;
  height: 27px; }

/* 中间部分样式 */
.middle {
  margin: 0 33px 0 0; }

/* 设置li浮动 */
.middle-ul > li {
  float: left;
  text-align: center;
  line-height: 58px; }

/* 清除浮动带来的影响 */
.middle-ul::after {
  display: block;
  content: "";
  clear: both; }

/* 设置a的样式 */
.middle-ul-link {
  display: block;
  width: 90px;
  height: 58px;
  color: #86929c;
  font-size: 15px; }

.middle-ul .active {
  background: #f2f2f2;
  border-left: 1px solid rgba(0, 0, 0, 0.05);
  border-right: 1px solid rgba(0, 0, 0, 0.05);
  color: #fe7b6a;
  border-bottom: 1px solid #ff6c5c; }

/* hover时的样式 */
.middle-ul-link:hover {
  background: #f2f2f2;
  border-left: 1px solid rgba(0, 0, 0, 0.05);
  border-right: 1px solid rgba(0, 0, 0, 0.05);
  color: #fe7b6a;
  border-bottom: 1px solid #ff6c5c; }

/* 右边部分样式 */
/* .right{
  margin:
} */
.right {
  margin: 0 40px 0 0; }

/* 发布房源按钮样式 */
.right-btn {
  width: 128px;
  height: 39px;
  border: 0;
  border-radius: 6px;
  background: #ff9180;
  color: #fff;
  font-size: 16px;
  margin: 3px 6px 0 0;
  cursor: pointer;
  outline: none; }

/* 字体大小 */
.right-txt {
  display: inline-block;
  font-size: 15px;
  color: #555;
  margin-top: 3px;
  cursor: pointer; }

.right span:hover {
  color: #fd6b5c; }

.bg-all-dark {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .36;
  z-index: 9999;
  top: 0;
  left: 0; }

.d-none {
  display: none; }

.newa_login_main {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 380px;
  padding: 0 50px 16px;
  background: #fff;
  z-index: 9999;
  margin-left: -190px;
  margin-top: -219px; }

.newa_close {
  position: absolute;
  width: 12px;
  height: 12px;
  top: 16px;
  left: 93%;
  background: url(http://127.0.0.1:5050/index/newa_close.png) no-repeat; }

.newa_login_tab {
  width: 220px;
  height: 32px;
  margin: 29px auto 37px; }
  .newa_login_tab li {
    float: left;
    width: 110px;
    line-height: 30px;
    font-size: 18px;
    text-align: center;
    color: #777;
    cursor: pointer; }

.newa_login_t_active span {
  display: inline-block;
  width: 73px;
  border-bottom: 2px solid #ff9180; }

.newa_login_con {
  width: 280px; }
  .newa_login_con li {
    position: relative;
    margin-bottom: 18px; }
    .newa_login_con li i {
      position: absolute;
      display: inline-block; }
  .newa_login_con input {
    width: 282px;
    height: 44px;
    font-size: 14px;
    border: 1px solid #eeeeee;
    padding-left: 35px; }

.newa_kj_icon {
  background: url(http://127.0.0.1:5050/index/login_icon.png) no-repeat 0 -74px;
  width: 14px;
  height: 18px;
  top: 14px;
  left: 9px; }

.newa_piccode_icon {
  background: url(http://127.0.0.1:5050/index/login_icon.png) no-repeat 0 -97px;
  width: 17px;
  height: 14px;
  top: 14px;
  left: 9px; }

.newa_code_icon {
  background: url(http://127.0.0.1:5050/index/login_icon.png) no-repeat 0 -116px;
  width: 16px;
  height: 14px;
  top: 14px;
  left: 9px; }

.newa_piccode {
  display: block;
  position: absolute;
  width: 80px;
  height: 36px;
  right: 0;
  top: 2px; }
  .newa_piccode img {
    width: 80px;
    height: 36px; }

.newa_code {
  display: block;
  position: absolute;
  right: 0px;
  top: 0;
  color: #f37e71;
  height: 40px;
  line-height: 44px;
  padding: 0 10px;
  cursor: pointer;
  font-size: 14px; }

.newa_foget {
  height: 14px;
  line-height: 14px;
  margin-bottom: 28px; }
  .newa_foget a {
    float: right;
    font-size: 14px;
    color: #f37e71; }

.newa_login_btn {
  display: block;
  width: 310px;
  height: 70px;
  background: url(http://127.0.0.1:5050/index/login_btn.png) no-repeat;
  margin-left: -15px; }
  .newa_login_btn:hover {
    background: url(http://127.0.0.1:5050/index/login_btn.png) -310px 0 no-repeat; }

.newa_zc {
  color: #999;
  font-size: 14px; }

.newa_coop {
  margin-top: 28px; }
  .newa_coop a {
    display: inline-block; }

.newa_sina {
  background: url(http://127.0.0.1:5050/index/login_icon.png) no-repeat 0 -25px;
  width: 28px;
  height: 23px; }

.newa_qq {
  background: url(http://127.0.0.1:5050/index/login_icon.png) no-repeat -1px 0;
  width: 18px;
  height: 20px;
  margin-left: 25px; }

.newa_login_input li {
  position: relative;
  margin-bottom: 18px; }
  .newa_login_input li i {
    position: absolute;
    display: inline-block;
    top: 14px;
    left: 9px; }

.newa_email_tel_icon {
  background: url(http://127.0.0.1:5050/header/login_icon.png) no-repeat 0 -53px;
  width: 13px;
  height: 17px; }

.newa_l_password_icon {
  background: url(http://127.0.0.1:5050/header/login_icon.png) no-repeat -18px -53px;
  width: 13px;
  height: 17px; }

.newa_foget {
  height: 14px;
  line-height: 14px;
  margin-bottom: 28px; }
  .newa_foget label {
    color: #999999;
    font-size: 14px; }

.newa_foget_m {
  float: right;
  color: #ff9180;
  font-size: 14px; }

#newa_auto_l {
  width: 13px;
  height: 13px; }
