
*{margin: 0;padding:0;box-sizing: border-box}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}
body{
  background:#f0f0f0;
}
.good{
  background:#ffffff;
}
.good-ul{
  padding:30px 0;
  display: flex;
  justify-content: space-around;
}
.good-ul>li{
  text-align: center;
  padding:0 90px;
}
.good-ul>li>p{
  color:#999;
  font-size:15px;
}
.good-ul>li:not(:last-child){
  border-right:1px solid #eee;
}

.hotcity{
  background:#f0f0f0;
  margin:25px 0 50px 0;
  text-align: center;
}
.hotcity-con{
  width:1200px;
  margin:0 auto;
  padding:15px 0 0 0 ;
}
.con-tit{
  margin:15px 0 15px 0;
  font-weight: 500;
  color:#353535;
  font-size:29px;
}
.con-f1{
  display: inline-block;
  font-size:17px;
  padding:0px 0 57px 0;
  color:#888;
}
.hotcity-blo{
  float: left;
}
.hotcity-main::after{
  display:block;
  content:"";
  clear:both;
}
.hotcity-blo:first-child{
  width:800px;
}
.hotcity-blo:nth-child(2){
  width:400px;
}
.hotcity-blo:nth-child(3){
  width:400px;
}
.hotcity-blo:nth-child(4){
  width:800px;
}
.hotcity-blo:nth-child(5){
  width:400px;
}
.hotcity-blo:nth-child(6){
  width:400px;
}
.hotcity-blo:last-child{
  width:400px;
}
.hotcity-main{
  width:100%;
  margin:0 auto;
}
.hotcity-main::after{
  display:block;
  content:"";
  clear:both;
}
.hot-link{
  display: block;
  position: relative;
  padding:10px;
}
.hot-link:hover{
  background:#ffffff;
  box-shadow: 1px 1px 4px rgba(0,0,0,.3);
}
.hot-link>img{
  height:280px;
}
.text-box{
  width:100%;
  position: absolute;
  top:38%;
  left:0;
  color:#ffffff;
}
.text-box>div{
  width:100%;
  display: flex;
  flex-direction: column;
}
.text-f1{
  font-size:26px;
  margin-bottom: 5px;
}

.ad-box{
  width:100%;
  background:url(../public/index/s_mn_ad_bg.jpg);
  text-align: center;
}
.adbox-con{
  width:1200px;
  margin:0 auto;
}
.adbox-con-tit{
  padding:15px 0;
  font-weight: 500;
}
.adbox-con-tit>h2{
  color:#fff;
  font-size:28px;
}

.adbox-con-box{
  width:100%;
  height:180px;
  margin:0 auto;
  display: flex;
  justify-content: space-around;
}

.icon-posi{
  display:inline-block;
  width:105px;
  height:104px;
}
.ad-con-icon{
  background:url(../public/index/index_bz1.png) no-repeat;
}

.ad-con-div{
  width:290px;
  height:170px;
  display: flex;
  flex-direction: column;
  align-items:center;
  padding:10px 35px 0 35px;
  cursor: pointer;
  
}
.ad-con-div:hover{
  
  box-shadow: 0 0 5px #1877a6;
}

.icon-bottom{
  font-weight: 500;
  color:#fff;
  font-size:17px;
  margin:20px 0;
}

.features-box{
  width:100%;
  margin:0 auto;
  padding: 20px 0;
  background:#f0f0f0;
}
.features-con{
  width:1200px;
  margin:0 auto;
}

.features-tit{
  margin:0 auto; 
  padding:30px 0;
  width:100%;
  text-align:center;
}

.features-h2{
  color:#353535;
  font-size:28px;
  font-weight:500;
  
}
.features-span1,.features-span2{
  display: block;
  width:100%;
}
.features-span1{
  color:#888;
  font-size:16px;
  line-height: 45px;
}
.features-span2>a{
  color:#888;
  background:#ddd;
  border-radius:15px;
  text-align: center;
  font-size:12px;
  padding:8px 11px;
}
.features-span2>a:hover{
  background:#f30;
  color:#fff;
}

.features-pic{
  width:100%;
  height:900px;
  margin:0 auto;
}
.pic-container{
  float:left;
  width:400px;
  height:300px;
}
.pic-container>a{
  display: block;
  position: relative;
}
.pic-container>a>img{
  padding:10px;
  
}
.pic-container>a>img:hover{
  background:#fff;
  box-shadow: 0 0 3px rgba(0,0,0,.3);
}
.pic-font{
  position: absolute;
  top:214px;
  left:20px;
}
.pic-font-h3{
  color:#fff;
  font-weight:500;
  font-size:21px;
}
.pic-font-span{
  color:#fff;
  font-size:14px;
  font-weight: 500;
}
.story-box{
  width:100%;
  margin:0 auto;
  padding:20px 0;
  background:#f0f0f0;
}
.story-con{
  width:1200px;
  margin:0 auto;
}
.story-tit{
  text-align: center;
  margin:0 auto 38px auto;
}
.story-main{
  width:100%;
  height:380px;
  position: relative;
}
#story-list{
  width:100%;
  height:380px;
}
.story-module{
  width:1200px;
  padding:0 10px;
}
.story-img{
  float: left;
  width: 790px;
  height: 380px;
}
.story-introduce{
  float:left;
  padding: 20px;
  width: 390px;
  height: 380px;
  background: #fff;
}
.story-introduce-h3{
  color:#f30;
  margin:0 auto;
  width:100%;
  height:50px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
  padding:0 50px;
}
.story-introduce-h3>a{
  color:#f30;
  font-size:19px;
  font-weight: 500;
  line-height:50px;
}
.story-introduce-span{
  display: block;
  overflow: hidden;
  width: 100%;
  height: 310px;
  color: #888;
  font-size:14px;
  text-indent: 28px;
  line-height: 22px;
}
.story-introduce-span>a{
  float: right;
  color:#09f;
}

#story-nav{
  position: absolute;
  width:100px;
  height:20px;
  top:92%;
  left:79%;
}

#story-nav>a{
  width: 10px;
  height:10px;
  background:#ddd;
  float:left;
  margin:5px;
}
#story-nav .active{
  background:#f30;
}

.s-mn-column{
  width:100%;
  margin:20px auto;
 
  height:276px;
  background:#f0f0f0;
}
.s-mn-column-center{
  width:1180px;
  margin:0 auto;

}
.s-mn-tit{
  width: 580px;
  line-height: 40px;
}
.s-mn-tit::after{
  display:block;
  content:"";
  clear:both;
}
.s-mn-information{
  position: relative;
  float: left;
  overflow: hidden;
  
  width: 580px;
  height: 230px;
  margin-top:8px;
}
.sm-n-t1{
  float:left;
  padding-left: 15px;
  width: 180px;
  height: 40px;
  background: url(../public/index/title_icon.png) center left no-repeat;
  background-size: 10px;
  color: #555;
  font-size:16px;
}
.sm-n-more{
  float:right;
  width: 120px;
  height: 40px;
  text-align: right;
  font-size:14px;
}
.sm-n-more>a{
  color:#555;
  font-size:13px;
  font-family: "宋体";
  &:hover{
    color:#f30;
  }
}
.information-box{
  float: left;
    width: 580px;
}

.information-box::after{
  display: block;
  content:"";
  clear:both;
}
.s_mn_information_img{
  float:left;
  width: 290px;
  height: 230px;
}
.s_mn_information_img>img{
  width:290px;
  height:230px;
}
.s_mn_information_list{
  position: absolute;
    top: 0;
    left: 281px;
    width: 300px;
}
.s_mn_information_list{
  position: absolute;
  top: 0;
  left: 281px;
  width: 300px;
  }
  
  .s_mn_inf_list_a{
    display: block; 
    width: 300px;
    height: 46px;
    background: url(../public/index/s_mn_inf_list_abg.png) 0 -46px no-repeat;
    color: #555;
    text-indent: 20px;
    font-size:14px;
    line-height:46px;
  }
  .s_mn_information_list>li:first-child>a{
    background: url(../public/index/s_mn_inf_list_abg.png) 0 0 no-repeat;
    color:#fff;
  }
  .s_mn_inf_list_a:hover{
    background: url(../public/index/s_mn_inf_list_abg.png) 0 0 no-repeat;
    color:#fff; 
  }
// 右边部分
.last-box{
  position: relative;
  float: left;
  overflow: hidden;
  margin-left: 20px;
  width: 580px;
  height: 276px;
}
.s_mn_li_nav{
  float: right;
  width: 90px;
  height: 40px;
  }
  // li浮动
.s_mn_li_nav li{
  float:left;
  line-height: 40px;
}
.s_mn_li_nav li a{
  display: block;
  margin: 10px 5px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  color:#fff;
  font-size:12px;
  border-radius: 15px;
  font-family: "宋体";
}
// a标签样式
.s_mn_li_nav_a{
  background:url(../public/index/s_mn_li_nav.png) -23px 0 no-repeat;
}
// 第一个选中
.s_mn_li_nav>li:first-child>a{
  background:url(../public/index/s_mn_li_nav.png) #f30 0 0 no-repeat;
}
// hover时的样式
.s_mn_li_nav_a:hover{
  background:url(../public/index/s_mn_li_nav.png) #f30 0 0 no-repeat;
}
// 图片部分
.s_mn_lates_houselist{
  position: absolute;
  margin-top: 6px;
  width: 1740px;
  height: 230px;
}
.s_mn_lates_house2{
  margin-left:22px;
}
.s_mn_lates_house1,.s_mn_lates_house2{
  float: left;
  width: 280px;
  height: 230px;
  background: #fff;
  }
  
  // 设置图片吧尺寸
  .s_mn_lates_houseimg>img{
    width:280px;
    height:176px;
  }
  // 设置下面字体样式
  .s_mn_lates_housetitle{
    height:30px;
    color: #555;
    font-size:14px;
    padding:0 15px;
  }
  // 最下面字体
  .s_mn_lates_houseintroduce{
    display: flex;
    justify-content: space-between;
    padding:0  15px;
  }
  // 左边 地名
  .s_mn_house_area{
    float: left;
    color: #888;
    font: 12px/20px "宋体";
  }
  .s_mn_house_price{
    color: #f30;
    font: 14px/20px "microsoft yahei";
  }