// reset
*{margin: 0;padding:0;box-sizing: border-box}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}
body{
  background:#f0f0f0;
}
// 第一大部分
// 1.设置最外层div 100%宽度
.s_mn_mainbox{
  width:100%;
}
// 2.设置内一层div
.s_mn_screenbox{
  width:100%;
}
// 3.form表单
.s_mn_form{
  width:100%;
}
// 4内容区，水平居中显示
.s_mn_center{
  width:1200px;
  padding:0 10px;
  margin:0 auto;
}
// 4.1内容区1
.s_mn_screen_ipt{
  width:1180px;
  background-color:#fff;
  margin-top:7px;
  border:1px solid #ddd;
  padding:9px 0;
  // 清除浮动
  &:after{
    display: block;
    content:"";
    clear:both;
  }
}
// 4.11城市选中
.s_mn_search_place{
  width:425px;
  float:left;
  height:40px;
}
.s_mn_search_city{
  width:110px;
  position: relative;
  z-index: 2;
  float: left;
  height:40px;
}
.s_mn_city_input{
  border:none;  
  color:#fe7e71;
  font:16px/35px "microsoft yahei";
  display: block;
    padding-right: 15px;
    width: 97px;
    height: 38px;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    background: url(//assets.muniao.com/assets/2015/images/list_gd.png) no-repeat;
    background-position: 82px center;
    background-size: 15px;
    text-align: center;
    cursor: pointer;
    outline: none;
}
// 4.2内容区2
// 浮动 定宽
.s_mn_search_landmark{
  width:312px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  position:relative;
  float:left;
  z-index:2;
  height:38px;
}
// 输入框 input
.s_mn_landmark_input{
  border: none;
  width: 308px;
  padding-left: 70px;
  font: 14px/35px "microsoft yahei";
  height:38px;
  color:#999;
  background:url(../public/search/position_icon.png) 46px center no-repeat;
}
// 5.入住时间和退房时间
// 5.1选中入住时间
.s_mn_search_time{
  width:376px;
  border-right:1px solid #ccc;
  float:left;
  margin-left:20px;
  height:40px;
}
.s_mn_checkin{
  position: relative;
  width:160px;
  height:40px;
  float:left;
  z-index:2;
}
.s_mn_time_input{
  width:165px;
  border:none;
  font:14px/35px "microsoft yahei";
  display: block;
  padding:0 0 0 50px;
  
}
// 背景图的设置
.w_list_dateicon{
  background:url(../public/search/date_icon.png) 10px center no-repeat;
}
// 文字样式
.blue{
  color:#19b5fe;
}
.s_mn_timespan{
  display: block;
  float: left;
  line-height: 40px;
  margin-left: 30px;
}

.s_mn_checkout{
  position: relative;
  float:left;
  z-index:0;
}
// 选中人数
.s_mn_search_number{
  z-index:1;
  float:left;
  width:177px;
  border-right:1px solid #ccc;
  font: 14px/40px "microsoft yahei";
  position: relative;
  margin-left:20px;
  height:40px;
}
// 背景图
.s_mn_number_select{
  background:url(../public/search/list_nummore.png) 86px center no-repeat;
  display: block;
  padding-right:20px;
  height:38px;
}
.s_mn_num_ipt{
  display: block;
  padding:0 0 0  50px;
  width:156px;
  color: #999;
  text-align: left;
  cursor: pointer;
}
// 选中人数
.s_mn_number_selectlist{
  position: absolute;
  left:-12px;
  padding:5px;
  width:178px;
  border:1px solid #ccc;
  background:#fff;
  li{
    width:100%;
    height:30px;
    a{
      display: block;
      width: 100%;
      height: 30px;
      color: #555;
      text-align: center;
      font: 14px/30px "宋体";
    }
    &:hover a{
      background:#f30;
      color:#fff;
    }
  } 
}
// 搜索房间
.s_mn_search_submit2{
  width:160px;
  padding:0 20px 0 20px;
  float:left;
  height:40px;
}
.w_list_button{
  width:120px;
  font-size:14px;
  height:40px;
  background-color: #FF6C5C;
  border: 1px solid #eee;
  text-align: center;
  line-height: 35px;
  color: #fff;
  border-radius:4px;
  cursor: pointer;
}
// 下部分
.w_searchlist{
  width:1180px;
  height:auto;
  padding:0 16px;
  margin-top:7px;
  background:#fff;
  border:1px solid #ddd;
}
// li样式
.s_mn_screen_list1 li{
  overflow:visible;
  color:#888;
  line-height:30px;
  padding:7px 0;
  border-bottom:1px solid #eee;
  position: relative;
}