@charset "utf-8";
// reset
*{margin: 0;padding:0;box-sizing: border-box}
ul{
  list-style: none;
}
a{
  text-decoration: none;
  color:#555;
}
body{
  background:#f0f0f0;
}
// 第一大部分
// 1.设置最外层div 100%宽度
.s_mn_mainbox{
  width:100%;
}
// 2.设置内一层div
.s_mn_screenbox{
  width:100%;
}
// 3.form表单
.s_mn_form{
  width:100%;
}
// 4内容区，水平居中显示
.s_mn_center{
  width:1200px;
  padding:0 10px;
  margin:0 auto;
}
// 4.1内容区1
.s_mn_screen_ipt{
  width:1180px;
  background-color:#fff;
  margin-top:7px;
  border:1px solid #ddd;
  padding:9px 0;
  // 清除浮动
  &:after{
    display: block;
    content:"";
    clear:both;
  }
}
// 4.11城市选中
.s_mn_search_place{
  width:425px;
  float:left;
  height:40px;
}
.s_mn_search_city{
  width:110px;
  position: relative;
  z-index: 2;
  float: left;
  height:40px;
}
.s_mn_city_input{
  border:none;  
  color:#fe7e71;
  font:16px/35px "microsoft yahei";
  display: block;
    padding-right: 15px;
    width: 97px;
    height: 38px;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    background: url(//assets.muniao.com/assets/2015/images/list_gd.png) no-repeat;
    background-position: 82px center;
    background-size: 15px;
    text-align: center;
    cursor: pointer;
    outline: none;
}
// 4.2内容区2
// 浮动 定宽
.s_mn_search_landmark{
  width:312px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  position:relative;
  float:left;
  z-index:2;
  height:38px;
}
// 输入框 input
.s_mn_landmark_input{
  border: none;
  width: 308px;
  padding-left: 70px;
  font: 14px/35px "microsoft yahei";
  height:38px;
  color:#999;
  background:url(../public/search/position_icon.png) 46px center no-repeat;
}
// 5.入住时间和退房时间
// 5.1选中入住时间
.s_mn_search_time{
  width:376px;
  border-right:1px solid #ccc;
  float:left;
  margin-left:20px;
  height:40px;
}
.s_mn_checkin{
  position: relative;
  width:160px;
  height:40px;
  float:left;
  z-index:2;
}
.s_mn_time_input{
  width:165px;
  border:none;
  font:14px/35px "microsoft yahei";
  display: block;
  padding:0 0 0 50px;
  
}
// 背景图的设置
.w_list_dateicon{
  background:url(../public/search/date_icon.png) 10px center no-repeat;
}
// 文字样式
.blue{
  color:#19b5fe;
}
.s_mn_timespan{
  display: block;
  float: left;
  line-height: 40px;
  margin-left: 30px;
}

.s_mn_checkout{
  position: relative;
  float:left;
  z-index:0;
}
// 选中人数
.s_mn_search_number{
  z-index:1;
  float:left;
  width:177px;
  border-right:1px solid #ccc;
  font: 14px/40px "microsoft yahei";
  position: relative;
  margin-left:20px;
  height:40px;
}
// 背景图
.s_mn_number_select{
  background:url(../public/search/list_nummore.png) 86px center no-repeat;
  display: block;
  padding-right:20px;
  height:38px;
}
.s_mn_num_ipt{
  display: block;
  padding:0 0 0  50px;
  width:156px;
  color: #999;
  text-align: left;
  cursor: pointer;
}
// 选中人数
.s_mn_number_selectlist{
  position: absolute;
  left:-12px;
  padding:5px;
  width:178px;
  border:1px solid #ccc;
  background:#fff;
  li{
    width:100%;
    height:30px;
    a{
      display: block;
      width: 100%;
      height: 30px;
      color: #555;
      text-align: center;
      font: 14px/30px "宋体";
    }
    &:hover a{
      background:#f30;
      color:#fff;
    }
  } 
}
// 搜索房间
.s_mn_search_submit2{
  width:160px;
  padding:0 20px 0 20px;
  float:left;
  height:40px;
}
.w_list_button{
  width:120px;
  font-size:14px;
  height:40px;
  background-color: #FF6C5C;
  border: 1px solid #eee;
  text-align: center;
  line-height: 35px;
  color: #fff;
  border-radius:4px;
  cursor: pointer;
}
// 下部分
.w_searchlist{
  width:1180px;
  height:auto;
  padding:0 16px;
  margin-top:7px;
  background:#fff;
  border:1px solid #ddd;
}
// li样式
.s_mn_screen_list1 li{
  overflow:visible;
  color:#888;
  line-height:30px;
  padding:7px 0;
  border-bottom:1px solid #eee;
  position: relative;
}
// 清除浮动带来的影响
.clearfix:after{
  display:block;
  content:"";
  clear:both
}
// 房间位置
.s_mn_screenqy{
  float:left;
  width:100%;
}
// 字体样式
.s_mn_screen_tit{
  float:left;
  width: 72px;
  text-align: right;
  margin-left: 0;
  color: #AAAAAA;
  font: 14px/30px "microsoft yahei";
}
.f12{
  font-size:12px;
}
.w_listbx{
  float:left;
  width:93px;
  height:30px;
  line-height:30px;
}
.w_listspan2{
  width:50px;
  height:30px;
  line-height:30px;
  color:#fff;
  text-align: center;
  a{
    color:#fff;
    background-color:#FF6C5C;
    display: block;
  }
}
#list_tab{
  li{
    float:left;
    width:93px;
    margin:0 5px 0 0 ;
    padding:0;
    height:30px;
    border:none;
  }
 .w_listspan{
   cursor: pointer;
   padding:0 26px 0 18px;
   background:url(../public/search/list_more.png) no-repeat;
   background-position:72px -6px;
   height:12px;
 }
 .w-listabfocus{
   cursor: pointer;
   padding:6px 26px 7px 18px;
  background:#ff6c5c url(../public/search/list_more.png) no-repeat;
  background-position:72px -29px;
  color:#fff;
}
} 
// 悬浮li时的样式
#list_tab li:hover{
  background:#ff6c5c;
  color:#fff;
  .w_listspan{
    background-position:72px -34px; 
  }
}
// 鼠标悬浮时显示的列表
#w_listect{
  div{
    width:1060px;
    float:right;
    padding:10px 15px;
    border:1px solid  #ddd;
    margin:10px 0;
    border-radius: 3px;
    position: absolute;
    left:58px;
    z-index: 1;
    background:#fff;
    top:36px;
    box-shadow: 0 1px 5px #ddd; 
  }
  a{
    padding:0 5px;
    line-height:24px;
    margin-right: 15px;
    display: inline-block;
    font-family: "\5b8b\4f53";
  }
}
// 房屋类型
.s_mn_screenlist{
  overflow: hidden;
}
// 字体以及元素大小
.w_listspan3{
    width: 93px;
    float: left;
    margin: 0 5px 0 0;
    display: block;
    height: 30px;
    overflow: hidden;
}
// 背景和颜色
.s_mn_screenlist .w_listspan3{
  .s_mn_screen_aover{
    background: #FF6C5C;
    color:#fff;
  }
  a:hover{
    @extend .s_mn_screen_aover; 
  }
  a{
    font: 12px/30px "microsoft yahei";
    padding:0 13px;
    display:inline-block;
    color:#888;
  }
}
// 二、主要内容区
.s_mn_mainbox{
  width:100%;
}
// **内容区
.s_mn_center{
  margin:0 auto;
  padding:10px 10px;
  width:1200px;
}
// 1.左边 展示房源
.s_mn_article{
  width:931px;
  float:left;
}
// 1.1标题
.s_mn_detailsList_condition{
  width:auto;
  height:52px;
  border:1px solid #ddd;
  background:#f8f8f8;
}
.s_mn_ranking{
  float:left;
  font: 12px/50px "\5b8b\4f53";
  color:#888;
  text-indent:10px;
  a {
    padding:0 18px 0 10px;
    &:hover{
      color:#f30;
      background: url(../public/search/arrowPic.png) 40px -26px  no-repeat;
    }
  }
  .descen_icon_over:hover,.descen_icon:hover{
    background:url(../public/search/arrowPic.png) 40px -38px  no-repeat;
  }
}
// 排序方式，
// 选中的排序方式
.descen_icon_over{
  background:url(../public/search/arrowPic.png) 40px -38px  no-repeat;
}
// 降序排列
.descen_icon{
  background:url(../public/search/arrowPic.png) 40px -14px no-repeat;
}
// 升序排列
.ascend_icon{
  background:url(../public/search/arrowPic.png) 40px 2px no-repeat;
}
.s_mn_search_navtag{
  width:auto;
  float:right;
  font: 14px/50px "microsoft yahei";
  color:#999;
  padding:0 5px;
  height:40px;
  text-align:right;
  a{
    color:#999;
    display:inline-block;
  }
  .s_red{
    color:#f30;
  }
}
// 1.2main主要
.s_mn_detailslist{
  margin-top:10px;
  width:100%;
}
li.Lcon1{
  border: 1px solid #ccc;
  background:#fff;
  margin-bottom:20px;
  width:931px;
  float:left; 
}
.s_mn_housebox{
  width:931px;
  height:262px;
}
// 左边房源图片
.s_mn_house_images{
  float:left;
  position: relative;
  width:414px;
  height:262px;
}
// 精灵图公用样式
.like_icon2{
  background:url(../public/search/w_list_icon.png ) no-repeat -7px -3px;
} 
// 设置小图标位置
.s_mn_house_like{
  position: absolute;
  top:10px;
  right:20px;
  display: block;
  width:37px;
  height:37px;
  line-height:800px;  
}
.list_score{
  position: absolute;
  bottom:15px;
  left:0;
  width:96px;
  height:44px;
}
// 设置mask
.score_bg{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:#000;
  opacity: .68;
}
.tmc{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  padding-left:14px;
  color:#4aaffd;
  font-size:14px;
  span{
    color:#fff;
    font-size:30px;
  }
}
// 右 房源详情
.s_mn_house_details{
  float:right;
  width:515px;
}
.house_details_l{
  float:left;
  width:365px;
  padding:0 10px;
  overflow:hidden;
}
.s_mn_house_tit{
  margin-top:10px;
  text-align:center;
  overflow:hidden;
  width:100%;
  height:30px;
}
.s_mn_house_t1{
  color: #19b5fe;
  font: 18px/30px "Microsoft Yahei";
  display: inline-block;
  letter-spacing: 1px;
}
.s_mn_house_introduction{
  width:100%;
  height:160px;
  p{
    color: #888888;
    font: 14px/22px "Microsoft Yahei";
    text-align: center;
    width:100%;
    span{
      margin:0 5px;
    }
  }
}
// 房源地址
.list_address{
  font-size: 12px;
  height: 18px;
  margin-top: 3px;
  color: #AAAAAA;
  text-align: center
}
// 小图标
.address_icon{
  display:inline-block;
  width:13px;
  height:17px;
  background:url(../public/search/w_list_icon.png) -19px -68px no-repeat;
  vertical-align: middle;
  margin-right:8px;
}
// 房源价格
.s_mn_house_price2{
  width:100%;
  text-align:center;
  color:#999;
  font: normal 20px/40px "Microsoft Yahei";
  margin-top: 13px;
  span{
    color: #fb8477;
    font: normal 32px/40px "Microsoft YaHei";
  }
}
// 房源折扣
.s_mn_house_salebox{
  width:100%;
  height:24px;
  text-align:center;
  em{
    font-size: 14px;
    color: #fb8477;
    font-style: normal;
    margin-right: 10px;
  }
}
.list_sale_icon{
  display: inline-block;
  width:15px;
  height:15px;
  background: url(../public/search/w_list_icon.png) -18px -117px no-repeat;
  vertical-align: middle;
}
// 近期预定
.near_reserve{
  width:260px;
  text-align: center;
  margin:0 auto;
  font-size:14px;
  color:#ccc;
  height:24px;
  line-height:24px;
}
.s_mn_house_information{
  height:60px;
  position: relative;
  text-align: center;
  width:100%;
  a{
    display: inline-block;
    font: 12px/30px "宋体";
    color:#888;
  }
  dd{
    display: inline-block;
    font: 14px/30px "Microsoft Yahei";
    height: 60px;
    color: #bbbbbb;
    margin: 0 7px;
  }
  .comment_num{
    margin:0 auto;
    width:50px;
    height:32px;
    border: 2px solid #ddd;
    display: block;
    border-radius:3px;
    color:#aaa;
    font: 20px/28px "Microsoft YaHei";
  }
  p{
    font-size: 12px;
    padding-left: 20px;
    color: #bbbbbb;
  }
  dl{
    display:inline-block;
    width:auto;
  }
}
// 水平分割线
.hr{
  width:260px;
  height:1px;
  background:#ddd;
  position: relative;
  top:-10px;
  left:50%;
  margin-left:-130px; 
}
// 房间图片
.list_picnum{
  background: url(../public/search/w_list_icon.png) -17px -260px no-repeat;
}
.map_wz{
  display: inline-block;
    font: 14px/30px "Microsoft Yahei";
    height: 60px;
    color: #bbbbbb;
    margin: 0 7px;
}
.list_seemap{
  display: block;
  width:34px;
  height:34px;
  background: url(../public/search/w_list_icon.png)  -8px -308px no-repeat;
  margin:0 auto;
}
// 列表详情右边
.house_details_r{
  width:150px;
  height:262px;
  float:right;
  border-left: 1px solid #e1e1e1;
  position: relative;
}
.s_mn_landlord_information{
  display:inline-block;
  width: 100%; 
  height:30px;
  font: 12px/30px "宋体";
}
// 头像
.s_mn_landlordpic2{
  width: 85px;
  height: 85px;
  border: 1px solid #ccc;
  overflow:hidden;
  border-radius: 50%;
  margin : 13px auto 0;
  img{
    height:100%;
    width:100%;
  }
}
.s_mn_landlordname2{
  text-align: center;
  a{
    color: #ff6c5c;
    font: 14px/30px "Microsoft Yahei";
  }
}
.landlordmark{
  width:100%;
  li{
    height: 14px;
    text-align: center;
    color: #2ed182;
    font: 14px/14px "Microsoft YaHei";
    a{
      height:14px;
      text-align:center;
      color:#2ed182;
      font:14px/14px "Microsoft YaHei";
    }
    i{
      display: inline-block;
      vertical-align: middle;
    }
  }
}
.shenfen_icon{
  width:13px;
  height:13px;
  background:url(../public/search/w_list_icon.png) -19px -368px no-repeat;
  margin-right:8px;
}
.true_icon{
  width: 11px;
  height: 9px;
  background: url(../public/search/w_list_icon.png) no-repeat -20px -470px;
  margin-left: 8px;
}
// 信用图标
.zhima_icon{
  width:13px;
  height:13px;
  background:url(../public/search/w_list_icon.png) -19px -417px no-repeat;  
}
// title悬浮提示文字
.list_zhimatip{
  position: absolute; 
  left:47px;
  top:25px;
  width:142px;
  padding:10px;
  border: 1px solid #efd052;
  background:#fff8da;
  color:#333;
  line-height:18px;
  font-size:12px;
  z-index:2;
  text-align:left;
}
// 二维码
.phone-ewm{
  text-align:center;
  padding:15px 0;
  width:100%;
  position: absolute;
  border-top: 1px solid rgb(204,204,204);
  background:#fff;
  bottom: -46px;
  z-index:99;
}
// 字体
.phone-ewm-info{
  font-size:12px;
  color: #ff9180;
  margin: 0 22px;
}
.weblt{
  width:100%;
  text-align:center;
  position: absolute;
  left:0;
  bottom:10px;
  overflow: hidden;
  height:28px;
  a{
    display: inline-block;
    width:90px;
    height:28px;
    border:2px solid #19b5fe;
    color:#19b5fe;
    text-align: center;
    line-height: 24px;
    font-size:14px;
    border-radius:14px;
  }
}
.smfy_icon{
  display: inline-block;
  width:63px;
  top:8px;
  left:6px;
  height:50px;
  position: absolute;
  background:url(../public/search/smfy_xq2.png);
}
.comment_icon{
  background: url(../public/search/w_list_icon.png) -18px -160px no-repeat;
}
.list_recommend{
  background: url(../public/search/w_list_icon.png) -18px -210px no-repeat;
}
// 地图位置
// 标题部分
// 1.3搜索结果 
.page_city{
  display: inline-block;
  margin: 0 20px;
  color: #555555;
  font-size: 14px;
  a{
    color:#19B5FE;
  }
}
// 1.4换页按钮组
.s_mn_page_bar{
  height: 30px;
  padding: 5px 0px;
  margin: 25px 0;
  display: inline-block;
  width:100%;
  text-align: center; 
  a{
    display: inline-block;
    margin: 0 2px;
    padding: 0 10px;
    border: 1px solid #e5e5e5;
    background: #fff;
    font: 12px/25px "Microsoft YaHei";
    &:hover{
      background:#ff6c5c;
      color:#fff;
      border: 1px solid #e46355;
    }
  }
}
// 分割线
hr{
  clear: both;
  box-sizing: content-box;
  height: 0;
  border: 0;
  border-bottom: 1px solid #f0f0f0;
}
// 2.右边推荐房源
.s_mn_sidebar{
  width: 234px;
    float: right;
    margin: 0;
    border: 1px solid #DDDDDD;
    background-color: #fff;
}
.w_listbz{
  width: 234px;
  height: 288px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}
.w_listbzicon{
  width: 100%;
  height: 167px;
  text-align: center;
}
.w_listbzul{
  margin: 0 auto;
    padding: 8px 0;
    width: 200px;
    border-top: 1px solid #ddd;
    li{
      margin-bottom: 5px;
    padding-left: 25px;
    width: 173px;
    height: 20px;
    background: url(//assets.muniao.com/assets2/2015/images/bz_smallicon.png) center left no-repeat;
    color: #888;
    line-height: 20px;
    span{
      font-size:14px;
      color:#888;
    }
    }
}
// **最近浏览
// 最外层div
.s_mn_recommended_bottom{
  padding: 10px 0;
  width:100%;
  border-bottom: 1px dotted #ddd;
  background: #f9f9f9;
}
// 内容居中显示
.s_mn_center2{
  width:1200px;
  margin:0 auto;
  &::after{
    display: block;
    content:"";
    clear:both;
  }
}
// 标题部分
.s_mn_title{
  width:100%;
  height:40px;
  line-height:40px;
}
.s_mn_t1{
  float:left;
  padding-left: 15px;
  width:180px;
  height:40px;
  background:url(../public/search/title_icon.png) center left no-repeat;
  background-size:10px;
  font: 16px/40px "Microsoft YaHei";
  color:#555;
}
// 最近浏览房源列表
.s_mn_rec_bottom{
  width:100%;
}
// 列表浮动
.s_mn_module3x{
  float:left; 
  width:300px;
}
// 设置定位和宽度
.s_mn_place3{
  position: relative;
  z-index:0;
  display: block;
  width:300px;
  padding:10px;
}
.s_mn_housingbox3{
  width:100%;
}
// img的高度
.s_mn_housing_img3{
  position: relative;
  width:100%;
  height:165px;
  a{
    display: block;
    width: 100%;
    height: 165px;
    img{
      width: 100%;
      height: 165px;
    }
  }
}
// 下面文字部分
.s_mn_housing_textbox3{
  width: 278px;
  border-right: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
  border-left: 1px solid #e3e3e3;
  background: #fff;
}
.s_mn_housing_title3{
  margin: 0 auto;
    padding: 0 10px;
    width: 278px;
    height: 30px;
    font: 700 14px/30px "宋体";
    a{
      color:#09f;
    }
}
.s_mn_lates_houseintroduce{
  padding: 0 10px;
  height: 20px;
  .s_mn_house_area{
    font: 12px/16px "Microsoft Yahei";
    color: #999999;
    float: none;
    padding: 0 6px;
  }
  .s_mn_house_price{
    float: right;
    color: #f30;
    font: 14px/20px "microsoft yahei";
  }
}